<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <link rel="icon" type="image/x-icon" href="/static/Poster/Bioscope-Logo.png">
  </head>
<body>

<header>
    <nav class="navbar">
        <img src ="/static/Poster/Bioscope-Logo.png" alt="Logo" height="auto" width="40px">
        <div class="container">
            <div class="brand">Bioscope</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">TV Shows</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">My List</a></li>
            </ul>
            <div class="search-bar">
                <input type="text" placeholder="Search" />
                <button>Search</button>
            </div>
        </div>
    </nav>
</header>



<div id="movie-container"></div> 


<script src="{{ url_for('static', filename='index.js')}}"></script>
 </body>
</html>


